:root {
    --one:#06B8F6;
    --two:#080616;
    --three:#BA55C9;
    --four: #1352C7;
    --five: #f65206;
    --six: #FFFFFF;
}
* {
    Margin: 0;
    padding: 0;
    color: var(--six);
}
body {
    background-image: url(./images/pexels-cottonbro-9669098.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

header h1 {
    color: var(--six);
    text-shadow: var(--one) 75%;
    text-decoration: underline var(--three);
    font-size: 12vw ;
}

header nav {
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}
header a {
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 20px  var(--six);
    opacity: 110%;
    color: var(--six);
    font-weight: bold;
    font-size: 7.5vw
}
header a:hover {
    color: var(--five);
    text-decoration: underline var(--six);
}

.mepic {
    border-radius: 50%;
    opacity: 90%;
    margin-left: 350px;
    width: 40vw;
    margin-top: 140px;
}

#Aboutme {
    padding-top: 100px;
}

#Aboutme h2 {
    text-align: center;
    font-size: 5vw;
    
}

#Aboutme p {
    font-size: 3vw;
    text-align: center;
}


#Works h2{
    padding-top: 250px;
    font-size: 5vw;
}
#Works h3{
    font-size: 3vw;
}


#Works h2,
#Works h3{text-align: center;}
#Works a{
    opacity: 70%;
}
#Works a:hover{
    opacity: 100%;
}

.work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 2 1 100%;
    margin-top: 15px;

}
.p1{
    padding: 100px;
    background-image: url(./images/digital-marketing-meeting.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    flex:2;
    border-left: var(--one) solid;
}
.p2{
    padding: 50px;
    background-image: url(./images/trainer-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    flex: 1;
    border-left: var(--three) solid;
}
.p3{
    padding: 100px;
    background-image: url(./images/READMESshot.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    flex: 2;
    border-left: var(--three) solid;
}

#Reachme {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 150px;
        
}

#Reachme h2{text-decoration: underline var(--three);
    font-size: 5vw;}
#Reachme a {
    padding: 20px 20px;
}
.links {
    display: flex;
    justify-content: space-evenly;
}
.links img {
    width: 100px;
}
footer {text-align: end;}

@media screen and (max-width: 575px) {
    .mepic {
        width: 350px;
        padding-left: 12px;
        margin-left: 0;
    }
    #Works a{
      opacity: 100%;
    }
    header {
        display: block;
    }
    header h1{
        text-align: center;
    }
    #Works h2,
    #Aboutme h2,
    #Reachme h2
     {
        font-size: 44px;
    }
    #Aboutme p,
    #Works h3{
        font-size: 16px;
    }
}